* { 
	margin: 0;
    padding: 0;
}	
	
Body, html {
	width: 100%;
	height: 100%;
	font: 16px;
	text-align:justify;
	background: #0c0c0c url(E:/site/images/zad_fon.jpg) no-repeat;
    background-attachment: fixed ;
    background-size: cover ;
}
.site-blok{
	width:1200px; 
	margin: 0 auto; 
}
.header {
	max-width: 1200px;
    margin: 0 auto;
    padding-top: 10px;
	background: black;
}
.pic_logo{
	width: 250px;
	height:130px;
}
.pic_logo1 {
    width: 262px;
}
.logo {
	display: flex;
	justify-content: space-around;
}
.name{
	text-decoration: none;
	color: #b8860b;
	padding-top: 29px;
}
.navbar{
	background: black;

}
.navbar{
    margin-top: 10px;
    text-decoration:none;
    list-style-type: none;
    min-width: 470px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 15px;
}
.navbar li:hover ul { display: block; }

.navbar ul li { float: none ; }

.navbar li:hover { background-color: black; } 

.navbar ul li:hover { background-color: rgb(90 90 90 ); }

.navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: none;
    position: absolute;
    top: 100%;
    z-index: 999999;
	background-color: black;
}
.navbar li {
    float: left;
    position: relative;
    height: 100%;
}
.navbar li a {
    display: inline-block; 
    padding: 6px;
    width: 100px;
    text-decoration: none;
    text-align: center;
	
}
.navbar_text{
	text-decoration: none;
    color: #b8860b;
}
/*                                          БЛОК                          */
.block {
	max-width:1200px;
	margin: 0 auto;
	display: flex;
    justify-content: space-around;
	background: rgb(90 90 90 / 90%);
	padding-top: 10px;
}
.pic_right {
	width: 290px;
	height: 415px
}
.block-left {
    max-width: 558px;
}
/*                                          ОБЩИЕ СТИЛИ                        */




.name_left {
	color: #b1ad92;
	text-indent: 20px
}
.text-left1 {
	padding-top: 5px;
	color: #ececec;
	text-indent: 20px;
	text-align:justify;
}
.text-left2 {
	padding-top: 7px;
	color: #ececec;
	text-indent: 20px;
}
.text-left3 {
	padding-top: 7px;
	color: #ececec;
    padding-bottom: 10px;
	text-indent: 20px
}
.text-left4 {
	padding-top: 7px;
	color: #ececec;
    padding-bottom: 10px;
	text-indent: 20px;
}
.text-left5 {
    padding-top: 7px;
	color: #ececec;
    padding-bottom: 10px;
	text-indent: 20px;
}
/*                                          БЛОК1                          */
.block1{
	max-width:1200px;
	margin: 0 auto;
	padding-top: 25px;
	background: rgb(90 90 90 / 90%);
	display: flex;
	justify-content: space-around;
	padding-top:15px;
	padding-bottom: 10px;
}
.block_left {
    padding-right: 17px;
    max-width: 558px;
}
.FromSoftware {
	width: 290px;
	height: 300px
}
.perenos_saita {
    text-decoration: none;
	color: #b8860b;
}
/*                                          СЛАЙДЕР                        */
.slide {
    width: 1200px;
    height: 672px;
	margin: 0 auto;
    position: relative;
    text-align: center;
 }
.slide  input {
    display: none;
}

.slide  input + label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 8px;
    background: rgba(90, 90, 90, 0.8);
    border: 2px solid rgba(190, 190, 190, 0.8);
    cursor: pointer;
    z-index: 100;
    position: relative;
    margin-right: 4px;
    top: 75%;
    transition: background 0.8s ease-out 0s;
}

.slide  input + label:hover {
    background: rgba(250, 250, 250, 0.8);
}

.slide  input:checked + label {
    background: rgba(220, 220, 220, 0.8);
}
	
.slide  div {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
}
	
.slide  div {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
}
.slide  input:checked + label + div {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
}
.slider2_1 {
    margin-top: 152px;
}
.pic{
	width: 1200px;
}
.pic2{
	width: 1200px;
    height: 672px;
}
.pic3{
	width: 1200px;
}
/*                                          БЛОК2                          */
.block2{
	max-width:1200px;
	margin: 0 auto;
	padding-top: 25px;
	background: rgb(90 90 90 / 90%);
	display: flex;
	justify-content: space-evenly;
}
.block-right1 {
    display: flex;
    align-content: center;
    flex-direction: column;
}
.pic_dlc1 {
    width: 300px;
    padding-bottom: 10px;
}
.pic_dlc2 {
    width: 300px;
}
/*                                          БЛОК3                          */
.block3 {
    max-width:1200px;
	margin: 0 auto;
	padding-top: 25px;
	background: rgb(90 90 90 / 90%);
}
.sujet {
    color: #b1ad92;
    text-align: center;
}
.game_text1 {
    padding-top: 7px;
	color: #ececec;
    padding-left: 10px;
    padding-right: 10px;
	text-indent: 20px;
}
.game_text2 {
    padding-top: 7px;
	color: #ececec;
    padding-left: 10px;
    padding-right: 10px;
	text-indent: 20px
}
.game_text3{
    padding-top: 7px;
	color: #ececec;
    padding-left: 10px;
    padding-right: 10px;
	text-indent: 20px
}
.game_text4{
    padding-top: 7px;
	color: #ececec;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
	text-indent: 20px
}
/*                                        ПОДВАЛ                        */
.footer {
    background: black;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 10px;
}
.name_footer {
    text-decoration: none;
	color: #b8860b;
}
.footer-text {
	color: #ececec;
    padding-left: 10px;
}













/*                                   НОВАЯ СТРАНИЦА personaji            */
/*                                   БЛОК 1-0                            */
.block1-0 {
    max-width:1200px;
	margin: 0 auto;
	background: rgb(90 90 90 / 90%);
	padding-top: 10px;
}
.block-left1-0 {
    padding-right: 130px;
    max-width: 500px;
}
.серокрыс {
    max-width: 290px;
    height: auto;
}
/*                                   БЛОК 1-1                            */
.block1-1 {
    max-width:1200px;
	margin: 0 auto;
	background: rgb(90 90 90 / 90%);
	padding-top: 10px;
    animation-name: fadeInUp;
}
.Юрия {
    max-width: 290px;
    height: 340px;
}
.block-right1-1 {
    max-width: 525px;
}
/*                                   ОБЩИЕ СТИЛИ ДЛЯ 2 СТРАНИЦЫ                            */





.block1-0-flex {
    display: flex;
    justify-content: space-around;
}
.line {
    border-radius: 5px;
    border-bottom: 2px solid #b1ad92;
    width: 100%;
    border-width: 0 0px 6px 0;
    display: inline-block;
}
.name_center {
    color: #b1ad92;
	text-align: center;
}
.name_right {
    color: #b1ad92;
	text-indent: 20px;
    padding-top: 10px; 
    
}
.text_right1 {
    padding-top: 7px;
	color: #ececec;
	text-align:justify;
    text-indent: 20px 
}
.text_right2 {
    padding-top: 7px;
	color: #ececec;
	text-align:justify;
    text-indent: 20px 
}
.text_right3 {
    padding-top: 7px;
	color: #ececec;
	text-align:justify;
    text-indent: 20px 
}
.text_right4 {
    padding-top: 7px;
	color: #ececec;
	text-align:justify;
    text-indent: 20px 
}
.text_right5 {
    padding-top: 7px;
	color: #ececec;
    text-indent: 20px; 
    text-align:justify;
}
.text_right6 {
    padding-top: 7px;
	color: #ececec;
	text-align:justify;
    text-indent: 20px;
}
/*                                   БЛОК 1-2                            */
.block1-2 {
    max-width:1200px;
	margin: 0 auto;
	background: rgb(90 90 90 / 90%);
	padding-top: 10px;
}
.block-left1-2 {
    max-width: 500px;
}
.Андрэ {
    max-width: 290px;
    height: 340px;
}
/*                                   БЛОК 1-3                            */
.block1-3 {
    max-width:1200px;
	margin: 0 auto;
	background: rgb(90 90 90 / 90%);
	padding-top: 10px;
}
.block-left1-3{
    max-width: 290px;
}
.Эйгон {
    max-width: 290px;
    height: 340px;
    padding-top: 15px;
}
.text_left1-1 {
    text-align: center;
}
.text_left1-2 {
    text-align: center;
}
.text_left1-3 {
    text-align: center;
}
.block-right1-3 {
    max-width: 500px;
}
/*                                   БЛОК 1-4                            */
.block1-4 {
    max-width:1200px;
	margin: 0 auto;
	background: rgb(90 90 90 / 90%);
	padding-top: 10px;
}
.block-left1-4 {
    max-width: 500px;
}
.Годрик {
    max-width: 290px;
    height: 415px;
}






/*                                   НОВАЯ СТРАНИЦА orujia                            */
/*                                   БЛОК 2-0                           */




.block2-0 {
    max-width:1200px;
	margin: 0 auto;
	background: rgb(90 90 90 / 90%);
	padding-top: 10px;
}
.container {
    max-width:1050px;
	margin: 0 auto;
	padding-top: 10px;
}




/*                                   ОБЩИЕ СТИЛИ ДЛЯ 2 СТРАНИЦЫ                         */
.name_center {
    color: #b1ad92;
	text-align: center;
    padding-top: 10px;
}
.weapon {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.weapon_block{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 12em;
    padding-top: 5em;
}
.weapon_text {
    color: #b8860b;
    padding-bottom: 10px;
}
.line-block {
    border-radius: 5px;
    border-bottom: 2px solid #b1ad92;
    width: 100%;
    border-width: 0 0px 2px 0;
    display: inline-block;
    padding-top: 5em;
}



/*                                   НОВАЯ СТРАНИЦА local                            */
/*                                   БЛОК 3-0                           */
.block3-0 {
    max-width:1200px;
	margin: 0 auto;
	background: rgb(90 90 90 / 90%);
	padding-top: 10px;
}
.block3-flex {
    display: flex;
    justify-content: space-around;
}
.block_left3-0 {
    max-width: 500px;
}
.pic3-0 {
    width: 281px;
    height: 224px;
}


/*                                   БЛОК 3-1                           */
.block3-1{
    max-width:1200px;
	margin: 0 auto;
	background: rgb(90 90 90 / 90%);
	padding-top: 10px;
}
.block_right3-1{
    max-width: 500px;
}
.pic3-1 {
    width: 281px;
    height: 224px;
}
/*                                   БЛОК 3-2                           */
.block3-2 {
    max-width:1200px;
	margin: 0 auto;
	background: rgb(90 90 90 / 90%);
	padding-top: 10px;
}
.block_left3-2 {
    max-width: 500px;
}
.pic3-2 {
    width: 281px;
    height: 224px;
}
/*                                   НОВАЯ СТРАНИЦА protivniki                            */
/*                                   БЛОК4-0                            */
.block4-0 {
    max-width:1200px;
	margin: 0 auto;
	background: rgb(90 90 90 / 90%);
	padding-top: 10px;
}
.block-left4-0 {
    max-width: 500px;
}